[data]
    email = "is3mansour@gmail.com"

[diff]
    command = "code"
	args = ["--reuse-window", "--wait", "--diff"]

[merge]
    command = "code"
	args = ["--reuse-window", "--wait", "--merge"]

[edit]
    command = "code"
    args = ["--reuse-window", "--wait"]

[git]
    autoCommit = false
    autoPush = false

# encryption = "gpg"


encryption = "age"
[age]
    identity = "~/.age/key.txt"
    recipient = "age1pdc6x8t24at2x7k6wg6d09df25zutn5y0kcthtwhaaut2etnluhsnx5zyp"
    symmetric = true

# [gpg]
#     recipient = "712B106A06F5ACEC"
#     symmetric = false