# For [zsh](https://github.com/rbenv/rbenv/wiki/Unix-shell-initialization#zsh), the order is like this:

# 1.  `/etc/zshenv` (no longer exists on macOS by default)
# 2.  `~/.zshenv`
# 3.  **login** mode:
#     1.  `/etc/zprofile` (calling `path_helper`)
#     2.  `~/.zprofile`
# 4.  **interactive**: `/etc/zshrc` `~/.zshrc`
# 5.  **login** mode: `/etc/zlogin` `~/.zlogin`

# remove duplicat entries from $PATH
# zsh uses $path array along with $PATH 
typeset -U PATH path

export GOPATH=~/.go

path=(
  ~/.bin
  ~/bin
  ~/.local/bin
  ~/.deno/bin
  $GOPATH/bin
  $path
  /usr/local/zig
)

if [ -d ${HOME}/.cargo/env ]; then
    . "$HOME/.cargo/env"
fi

if [ -d ${HOME}/.local/py-utils/bin ]; then
	PATH="$PATH:${HOME}/.local/py-utils/bin"
fi

if [ -f "${HOME}/.conda/etc/profile.d/mamba.sh" ]; then
    . "${HOME}/.conda/etc/profile.d/mamba.sh"
fi

if [ -f "${HOME}/.conda/etc/profile.d/conda.sh" ]; then
    . "${HOME}/.conda/etc/profile.d/conda.sh"
fi

