#!/bin/bash
{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh


{{ if eq .chezmoi.gid "1000" -}}
#### Install on machine with sudo
echo "##### Install packages with sudo"
sudo apt update && sudo apt upgrade -y
sudo apt install --yes \
    zsh \
    tmux \
    openssh-server \
    gnupg2 \
    systemd \
    systemd-sysv \
    wget \
    gnupg \
    ca-certificates \
    autossh \
    sslh \
    ripgrep \
    software-properties-common \
    curl \
    build-essential 

# 
sudo apt autoremove --yes

sudo bash -c 'cat > /etc/systemd/system/autossh-tunnel.service <<EOF
[Unit]
Description=AutoSSH reverse tunnel service for jump.you.io 100022 -> 22
#Wants=network-online.target
#After=network-online.target
After=network.target
StartLimitIntervalSec=5

[Service]
User=mans_is
ExecStart=/usr/bin/autossh -M 0 -N -o "ServerAliveInterval 15" -o "ServerAliveCountMax 3" -o "ConnectTimeout 10" -o "ExitOnForwardFailure yes" -i ${HOME}/.ssh/id_ed25519 -p 22 sshtunuser@138.246.233.193 -R 10222:localhost:22 -R 2443:localhost:443
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
EOF'

sudo systemctl daemon-reload
sudo systemctl enable autossh-tunnel.service 
sudo systemctl start autossh-tunnel.service 
# cat sudo systemctl status autossh-tunnel.service 


########## Install conda with mamba
echo "##### Install conda "
CONDA_DIR="/opt/conda"
PATH=${CONDA_DIR}/bin:${PATH}
sudo groupadd -r conda
sudo usermod -a -G conda "${USER}"
sudo chown -R "${USER}:conda" "${CONDA_DIR}"
sudo mkdir -p ${CONDA_DIR}

cd /tmp
wget "https://github.com/conda-forge/miniforge/releases/latest/download/Mambaforge-$(uname)-$(uname -m).sh"
# bash Mambaforge-$(uname)-$(uname -m).sh -b --force -p $CONDA_DIR
bash Mambaforge-$(uname)-$(uname -m).sh -b -p $CONDA_DIR


{{ end -}}

git clone https://github.com/gpakosz/.tmux.git ~/.tmux
ln -fs ~/.tmux/.tmux.conf ~/.tmux.conf

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
brew install ripgrep

git clone https://github.com/gpakosz/.tmux.git ~/.tmux.git
ln -fs ~/.tmux/.tmux.conf ~/.tmux.conf
{{ end -}}

# Setup for GPG
# https://coder.com/docs/coder/latest/guides/customization/gpg-forwarding