#!/bin/bash

{{- if eq .chezmoi.os "darwin" -}}
# dump the current brew installation to a file with the following line
# cd /tmp
# brew bundle dump
brew bundle --no-lock --file=/dev/stdin <<EOF
tap "d12frosted/emacs-plus"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-drivers"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/core"
tap "jandedobbeleer/oh-my-posh"
tap "jorgelbg/tap"
tap "railwaycat/emacsmacport"
tap "romkatv/powerlevel10k"
tap "rs/tap"
brew "ack"
brew "age"
brew "antigen"
brew "bash-completion"
brew "bat"
brew "bottom"
brew "tmux"
brew "byobu"
brew "chezmoi"
brew "cloudflared"
brew "ctags"
brew "docker-completion"
brew "docker-compose-completion"
brew "duck"
brew "fd"
brew "fish"
brew "fisher"
brew "fzf"
brew "gcc"
brew "git"
brew "git-delta"
brew "glow"
brew "gnupg"
brew "gopass"
brew "hopenpgp-tools"
brew "jq"
brew "lf"
brew "lftp"
brew "lsd"
brew "ncdu"
brew "neovim"
brew "oh-my-posh"
brew "pinentry-mac"
brew "procs"
brew "reattach-to-user-namespace"
brew "ripgrep"
brew "sd"
brew "tealdeer"
brew "telnet"
brew "the_silver_searcher"
brew "tree"
brew "vim"
brew "wget"
brew "wireguard-tools"
brew "ykman"
brew "ykpers"
brew "zoxide"
brew "zsh"
brew "zsh-completions"
brew "jorgelbg/tap/pinentry-touchid"
brew "romkatv/powerlevel10k/powerlevel10k"
brew "rs/tap/curlie"
cask "adobe-acrobat-reader"
cask "altserver"
cask "android-platform-tools"
cask "anydesk"
cask "beyond-compare"
cask "blackhole-16ch"
cask "blender"
cask "brave-browser"
cask "cyberduck"
cask "darktable"
cask "emacs-mac"
cask "firefox"
cask "font-fira-code-nerd-font"
cask "font-meslo-lg-nerd-font"
cask "font-sauce-code-pro-nerd-font"
cask "gimp"
cask "gopass-ui"
cask "gpg-suite-no-mail"
cask "gpg-sync"
cask "iterm2"
cask "keybase"
cask "logitech-options"
cask "mambaforge"
cask "mattermost"
cask "mendeley"
cask "mendeley-reference-manager"
cask "mountain-duck"
cask "notion"
cask "obs"
cask "obsidian"
cask "qgis"
cask "signal"
cask "skype"
cask "temurin8"
cask "tor-browser"
cask "turbovnc-viewer"
cask "vlc"
cask "vmware-fusion"
cask "vnc-viewer"
cask "x2goclient"
cask "xquartz"
cask "yubico-yubikey-manager"
cask "yubico-yubikey-personalization-gui"
cask "yubico-yubikey-piv-manager"
cask "zoom"
EOF
{{ end -}}
