#!/bin/sh


if [ ! -f "${HOME}/.age/key.txt" ]; then
    mkdir -p ${HOME}/.age/
    age --decrypt --output "${HOME}/.age/key.txt" "{{ .chezmoi.sourceDir }}/key.txt.age"
    chmod 600 "${HOME}/.age/key.txt"
fi
