# Machine-specific internal hosts are managed in the encrypted config_* files,
# which are pulled in via config_external above.

Host github.com
  IdentitiesOnly yes
  IdentityFile {{ .chezmoi.homeDir }}/.ssh/id_github

Host *
  ForwardAgent no
  AddKeysToAgent no
  Compression no
  ServerAliveInterval 0
  ServerAliveCountMax 3
  HashKnownHosts no
  UserKnownHostsFile ~/.ssh/known_hosts
  ControlMaster no
  ControlPath ~/.ssh/master-%r@%n:%p
  ControlPersist no
